body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #272727; 
    color: #ffffff;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
    list-style: none;
    margin: 0;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    color: #000; /* color del texto de las tarjetas a negro */
    cursor: pointer;
}

.card img.poster {
    width: 100%;
    height: 300px; /* Ajusta este valor según necesites */
    object-fit: cover; /* imagen cubre el área sin distorsionarse */
    border-bottom: 1px solid #ddd;
}

.card h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

.card p {
    color: #555;
    font-size: 1rem;
    margin: 0.5rem 0;
}

.movie-details {
    text-align: center;
    padding: 2rem;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin: 2rem;
}

.movie-details .poster {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.movie-details h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

.movie-details p {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #ddd;
}

.movie-details button#backButton {
    background-color: #555;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.movie-details button#backButton:hover {
    background-color: #777;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.pagination button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #555;
}

.pagination button.active {
    background-color: #555;
    font-weight: bold;
}
