/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #272727; /* Establece el color de fondo */
    color: #ffffff; /* Establece el color del texto */
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    color: #000; /* Establece el color del texto de las tarjetas a negro */
}

.card img.poster {
    width: 100%;
    height: 300px; /* Ajusta este valor según necesites */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    border-bottom: 1px solid #ddd;
}

.card h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

.card p {
    color: #555;
    font-size: 1rem;
    margin: 0.5rem 0;
}
